.reserve__buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 10px;
    
}

.reserve__buttons .btn-reserve {
    width: 140px;
    height: 60px;

    font-family: 'Markazi Text', serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 650;

    border-radius: 10px;

    border: 1px solid #264646;
    color: #264646;
}

.reserve__buttons .btn-reserve:hover {
    background-color: #ffa90875;
    cursor: pointer;
}

.reserve__buttons .btn-reserve:disabled {
    background-color: gray;
    cursor: not-allowed;
}
